<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Review</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="navbar bg-lilas">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand col text-white">GR</a>
                <form class="d-flex col justify-content-end">
                    <a class="btn text-white">Login</a>
                    <a class="btn text-white border-light">Cadastre-se</a>
                </form>
            </div>
        </nav>
    </header>
    <section class="d-flex flex-column pt-5">
        <div class="d-flex justify-content-center">
            <span class="rounded-circle p-4 text-white" style="background: gray; font: bold 40px Inte, sans-serif;">
                4.3
            </span>
        </div>
        <div class="d-flex justify-content-center gap-2 pt-5">
            <button type="button" class="btn btn-danger">Adicionar aos favoritos</button>
            <button type="button" class="btn bg-lilas">Adicionar a uma lista</button>
        </div>
        <div class="d-flex justify-content-center pb-3 pt-3">
            <h1 class="text-light">STARDEW VALLEY</h1>
        </div>
        <div class="d-flex justify-content-center gap-5" style=" font: 400 15px Inte, sans-serif;">
            <div>
                <span class="text-light">DATA DE LANÇAMENTO</span>
                <p class="text-lilas">26/02/2016</p>
            </div>
            <div>
                <span class="text-light">DESENVOLVEDOR</span>
                <p class="text-lilas">ConcernedApe</p>
            </div>
            <div>
                <span class="text-light">DISTRIBUIDORA</span>
                <p class="text-lilas">ConcernedApe</p>
            </div>
        </div>
    </section>
    <section>
        <div class="d-flex justify-content-center pt-5">
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/413150/header.jpg?t=1627421000"
                alt="imagem do jogo" class="img-fluid rounded" style="width: 65%;">
        </div>
    </section>
    <section class="p-5">
        <div>
            <span class="text-lilas ">GÊNERO</span>
        </div>
        <div class="d-flex gap-3 text-light pt-2">
            <p class="rounded p-1 bg-lilas">INDIE</p>
            <p class="rounded p-1">RPG</p>
            <p class="rounded p-1">SIMULAÇÃO</p>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>