{% extends "base.html" %}

{% block content %}
{% load static %}
<section class="d-flex justify-content-between pt-5">
    <div class="col pt-5">
        <h1 class="text-white title-main">GAME</h1>
        <h1 class="text-lilas">REVIEW</h1>
        <img class="stars" src=" {% static 'assets/stars-group.png' %}">

    </div>
    <div class="col d-flex flex-row-reverse">
        <img class=" img-games" src="{% static 'assets/group-games-bg.png' %}">
    </div>
</section>
<section class="d-flex justify-content-between pt-5">
    <div class="col">
        <img class=" img-games" src="{% static 'assets/group-games-bg-02.png' %}">

    </div>
    <div class="col d-flex flex-column justify-content-center ">
        <p class="text-light fst-italic text-center">
            Track games you’ve played.<br>
            Save those you want to play.<br>
            Tell your friends what’s good.
        </p>
        <a class="btn text-light btn-criar-conta text-center" href="#">Criar Conta</a>

    </div>
</section>
<section class="d-flex justify-content-between pt-5">
    <div class="col d-flex  justify-content-center">
        <div class="card bg-transparent border-light " style="width: 300px;">

            <div class="card-body text-light">
                <h2 class="" style="font-size: 23px; font-weight: bold;">Tell us what you’ve seen</h2>
                <p class="card-text">
                    We add all watched titles to your Films tab and then we can show you reviews containing spoilers
                    (usually hidden) and
                    other cool stuff. If you’re Pro we compute detailed stats based on all your watched films (see
                    below).
                </p>
            </div>
        </div>

    </div>
    <div class="col d-flex flex-column justify-content-center ">

    </div>
</section>
{% endblock %}